# venv / caches
.venv/
__pycache__/
*.pyc
*.ipynb_checkpoints/

# OS / editors
.DS_Store
.vscode/

# env / secrets
.env
*.env
**/.env
*.env.local
aller_app_mariadb/.streamlit/secrets.toml
aller_app_mariadb/.env

# builds
dist/
build/

# data (원하면 세부 폴더만)
data/
steady-triumph-481602-i0-4305afe51cd8.json
back_up_final.sql
aller_dump.sql
kcia_ingredients.sql